.category-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background-color: #c7b4ee;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.list  li:last-child {
  border-bottom: none;
}

.list  li:hover {
  background-color: #f0f0f0;
}
