.user-greeting{
  color: purple;
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
  padding: 20px;
}

.signup{
  color: red;
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
  padding: 20px;
}